.btn {
  @include reset-button;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  @include tablet {
    padding: 10px;
  }

  @include hover {
    opacity: 0.7;
  }

  &-favorite,
  &-view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9px;
    padding: 5px;

    @include hover {
      opacity: 0.6;
    }
  }

  &-form {
    position: absolute;
    right: 0px;
    top: -3px;
  }


  &-shop {
    padding: 12px 50px;
    text-align: center;
    border: var(--border);
    max-width: 228px;

    font-family: var(--font-family-second);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.42;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: transparent;
    transition: var(--transition-duration);

    @include hover {
      background-color: var(--color-dark-alt);
      color: #ffffff;
      border: 1px solid transparent;
    }

    @include tablet {
      max-width: 200px;
      border: 1px solid var(--color-light);
      padding: 12px;
    }
  }

  &-buy {
    padding: 26px 28px;
    border-left: 1px solid var(--color-dark);
    cursor: pointer;

    @include hover {
      opacity: 0.7;
    }

    @include tablet {
      padding: 7px;
      display: flex;
      justify-content: center;
    }
  }

  &-read-more {
    padding-bottom: 5px;
    align-self: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: var(--border);

    &--light {
      color: var(--color-light);
      border-bottom: 1px solid var(--color-light);
    }
  }
}