.feedback {
  margin-bottom: 150px;

  @include tablet {
    margin-bottom: 50px;
  }

  &-swiper {
    height: 205px;

    @include desktop {
      height: 320px;
    }

    @include tablet {
      height: 250px;
    }

    .swiper-button-prev {
      top: 40%;

      @include desktop {
        display: none;
      }
    }

    .swiper-button-next {
      top: 40%;

      @include desktop {
        display: none;
      }
    }

    .swiper-pagination {
      width: 1270px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      left: 0;
      right: 0;

      @include desktop {
        width: 150px;
      }
    }

    .swiper-pagination-bullet {
      opacity: 0;

      @include desktop {
        width: 7px;
        height: 7px;
        opacity: 1;
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: url(./../../images/icons/x.svg) center/cover no-repeat;
      width: 12px;
      height: 12px;

      @include desktop {
        opacity: 0.5;
        background: unset;
        background-color: var(--color-dark);
        border-radius: 50%;
      }
    }

  }

  &__slide-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  &__author {
    display: none;

    @include desktop {
      display: block;
    }

    &-list {
      justify-content: center;
      display: flex;
      gap: 70px;

      @include desktop {
        display: none;
      }
    }
  }

  &__text {
    font-size: 30px;
    text-align: center;
    max-width: 900px;
    line-height: 1.34;
    margin-bottom: 62px;

    @include tablet {
      font-size: 20px;
      margin-bottom: 20px;
      padding: 0 15px;
      max-width: 500px;
    }
  }
}