.post {
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-bottom: 10px;

    @include mobile {
      height: 319px;
      object-fit: cover;
      width: 300px;
    }
  }

  &__categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: var(--border);

    font-family: var(--font-family-base);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
  }

  &__category:first-child {
    position: relative;
    padding-right: 10px;

    &::after {
      position: absolute;
      content: '|';
      top: 0;
      right: -8px;
      height: 16px;
      width: 4px;
    }
  }

  &__title {
    margin-bottom: 36px;
    font-family: var(--font4);
    line-height: 1.37;
    text-align: center;
    color: #000;
  }
}