.products {
  margin-bottom: 150px;
  font-family: var(--font-family-second);

  @include tablet {
    margin-bottom: 50px;
  }

  &__subtitle {
    @include fluid-text(30, 16);
    margin-inline: auto;
    max-width: 960px;
    line-height: 1.34;
    text-align: center;
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 40px;
      max-width: 550px;
    }
  }

  &__list {
    padding-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 65px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-dark);

    @include mobile {
      gap: 20px;
    }

    &-item {
      cursor: pointer;

      @include hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    // @include mobile-s {
    //   grid-template-columns: repeat(1, 1fr);
    // }

    &.hidden {
      display: none;
    }

  }
}